/* Font and Background */
body {
    font-family: 'Montserrat', sans-serif; /* Sets the font to Montserrat, fallback to sans-serif */
    background-color: #ffffff; /* White background color */
    background-image: url("../../images/usdtbackground.jpg"); /* Background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-size: cover; /* Ensures the background image covers the whole element */
    background-attachment: fixed; /* Keeps the background image fixed when scrolling */
    -webkit-font-smoothing: antialiased; /* Improves font rendering on WebKit browsers */
    -moz-osx-font-smoothing: grayscale; /* Improves font rendering on macOS Firefox */
}

/* Warning Text */
.warning {
    font-size: 16px; /* Ensures the font size is 16px */
}

/* Links */
a {
    color: #ffffff; /* Sets link color to white */
    text-decoration: none; /* Ensures links are not underlined */
}

/* Navbar Branding */
.navbar-brand {
    float: left; /* Floats the brand element to the left */
    height: inherit; /* Inherits the height of the parent */
    padding: 15px 0 0; /* Padding around the brand element */
    font-size: 25px; /* Font size for the brand */
    font-weight: bold; /* Makes the brand text bold */
    line-height: 20px; /* Sets the line height */
}

.navbar-default .navbar-brand {
    color: #fff; /* White color for the brand in default navbar */
}

/* Navigation and Language */
nav {
  position: relative; /* Sets the position of the nav to relative */
}

.language {
  font-size: 14px; /* Font size for the language selector */
  padding: 0 0 0 10px; /* Padding for the language selector */
  position: relative; /* Sets position to relative */
  top: 18px; /* Moves the element 18px down */
  font-weight: normal; /* Normal font weight */
}

/* Icons */
.icon {
  width: 60px; /* Width of the icon */
  margin-right: 20px; /* Right margin of the icon */
}

/* Digging Mined Container */
.digging-mined-container {
  display: flex; /* Uses Flexbox layout */
  position: relative; /* Relative positioning */
  font-weight: bold; /* Bold text */
  font-size: 5rem; /* Large font size */
  background-color: #748392; /* Background color */
  padding: 10px 20px; /* Padding */
  border-radius: 8px; /* Rounded corners */
  min-height: 20px; /* Minimum height */
  margin-top: 10px; /* Top margin */
  margin-bottom: 40px; /* Bottom margin */
  border: 1px solid #000; /* Border */
}

@media (max-width: 750px){
  .digging-mined-container {
    flex-direction: column; /* Stacks items vertically on small screens */
  }
}

.dm-container-right {
  display: flex; /* Uses Flexbox layout */
  flex-direction: column; /* Stacks items vertically */
  align-items: flex-start; /* Aligns items to the start */
}

.dm-container-right h2 {
  margin: 0; /* Removes margin */
  font-size: 24px; /* Font size for headings */
  font-weight: 600; /* Bold font weight */
  color: #fff; /* White text color */
}

.dm-container-right p {
  margin: 0; /* Removes margin */
  font-size: 18px; /* Font size for paragraphs */
}

/* Custom Row */
.custom-row {
  flex: 1 1 0; /* Flex-grow, flex-shrink, and flex-basis */
  display: flex; /* Uses Flexbox layout */
  align-items: center; /* Centers items vertically */
  align-items: flex-start; /* Aligns items to the start */
}

@media (max-width: 750px){
  .custom-row:first-of-type {
    margin-bottom: 30px; /* Bottom margin for the first row on small screens */
  }
}

/* Spend Container */
.spend-container {
  /* No styles defined */
}

/* Jumbotron */
.jumbotron {
    background-color: transparent; /* Transparent background */
    padding-right: 0px; /* No padding on the right */
    padding-left: 0px; /* No padding on the left */
    padding-top: 0px; /* No padding on the top */
    padding-bottom: 0px; /* No padding on the bottom */
    border-radius: 0px; /* No rounded corners */
    margin-top: 0px; /* No top margin */
    border-bottom: 1px solid transparent; /* Transparent bottom border */
}

.navbar-default {
    background-color: transparent; /* Transparent background */
    border-color: transparent; /* Transparent border */
}

.jumbotron p {
    margin-bottom: 0px; /* No bottom margin */
    font-size: 22px; /* Font size for paragraphs in jumbotron */
}

.font-weight-normal {
  font-weight: normal; /* Normal font weight */
}

.jumbotron .btn {
    padding: 10px 0; /* Padding for buttons in jumbotron */
}

/* Alt Color Section */
.altcolor {
    display: flex; /* Uses Flexbox layout */
    align-items: flex-start; /* Aligns items to the start */
    position: relative; /* Relative positioning */
    background-color: #748392; /* Background color */
    margin-top: 30px; /* Top margin */
    padding: 20px; /* Padding */
    border-radius: 8px; /* Rounded corners */
    margin-bottom: 30px; /* Bottom margin */
    box-shadow: 0 0 20px 5px rgba(232,252,255, 0.4); /* Box shadow */
}

.altcolor p {
  font-size: 16px; /* Font size for paragraphs */
  font-weight: 600; /* Bold font weight */
  color: rgb(5, 5, 5); /* Text color */
  margin: 0; /* No margin */
}

.altcolor p:first-of-type {
  margin-bottom: 10px; /* Bottom margin for the first paragraph */
}

/* Custom Container */
.custom-container {
  max-width: 600px; /* Maximum width */
  margin: auto; /* Center-aligns container horizontally */
  padding: 0 20px; /* Padding */
}

/* Banner Section */
.banner {
  display: flex; /* Uses Flexbox layout */
  justify-content: space-between; /* Distributes space between items */
  align-items: center; /* Aligns items vertically */
}

.banner h1 {
  color: #000; /* Black text color for headings in banner */
}

/* Polybanner */
.polybanner {
  display: block; /* Block-level element */
  width: auto; /* Automatic width */
  height: 80px; /* Fixed height */
  object-fit: cover; /* Ensures the image covers the element */
}

/* Daily and APR Sections */
.daily, .apr {
  background-color: #748392; /* Background color */
  color: #fff; /* White text color */
  padding: 5px 10px; /* Padding */
  border-radius: 5px; /* Rounded corners */
  font-weight: 600; /* Bold font weight */
  font-size: 16px; /* Font size */
  margin: 0; /* No margin */
  line-height: 1.5; /* Line height */
  border: 1px solid #000; /* Border */
}
.miners-tally-container {
    display: flex;
    position: relative;
    font-weight: bold;
    font-size: 5rem !important;
    background-color: #748392;
    padding: 10px 20px;
    border-radius: 8px;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    border: 1px solid #000;
}

.miners-tally-container h1 {
  color: #fff; /* Ensure h1 text color is visible */
}

.miners-tally-container .icon {
  margin-right: 10px;
}

.purple {
  color: #9F7CAA !important;
}

.numminers, .numseeders {
    text-decoration: underline;
    text-decoration-color: #ffffff; /* Ensure underline is visible */
}

.tally-text {
  font-size: 3rem !important;
  font-weight: 600;
  color: #fff;
}

.tally-text:after {
    margin-left: 16px;
    position: relative;
    bottom: -5px;
}

#info-icon {
  cursor: pointer;
  z-index: 999; /* Ensure the icon is clickable and visible */
}

.form-control {
    display: inline-block;
}

.main-img {
  max-height: 110px;
  width: auto;
  margin: 0 auto;
}

.heading {
  max-width: 300px;
  margin: 0 auto;
}

.main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  max-height: 65px;
  width: auto;
  margin-bottom: 10px;
}

.prod-contain-top {
    position: relative;
    padding: 4rem 0 1rem 0;
    border-radius: 8px 8px 0 0;
    margin-top: 10px;
    z-index: 1;
    min-height: 235px;
    background-color: #7917CF; /* Make sure background color is applied */
    border: 2px solid #ffffff; /* Ensure border is visible */
}

.prod-contain-top>h2 {
  font-size: 4rem;
  padding-top: .5rem;
  font-weight: bold;
  color: #ffffff !important;
}

.prod-contain-bottom {
    position: relative;
    padding: 4rem 2rem 2rem;
    border-radius: 8px;
    margin-top: -50px;
    z-index: -1;
    min-height: 310px;
    background-color: #9851F0; /* Make sure background color is applied */
    border: 2px solid #ffffff; /* Ensure border is visible */
}

.prod-contain-bottom>h2 {
  font-size: 4.5rem;
  font-weight: 600;
  color: #ffffff !important;
  margin-bottom: .5rem;
  line-height: 4.5rem;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}

.pphr {
  font-size: 25px !important;
  margin: 0;
  font-weight: 600 !important;
  color: #ffffff !important;
}

.matic-banner {
  border-radius: 8px;
}

.hold-contain-top {
    position: relative;
    padding: 4rem 0 1rem 0;
    border-radius: 8px 8px 0 0;
    margin-top: 10px;
    z-index: 1;
    min-height: 235px;
    background-color: #7917CF; /* Make sure background color is applied */
    border: 2px solid #ffffff; /* Ensure border is visible */
}

.hold-contain-top>h2 {
  font-size: 4rem;
  padding-top: .5rem;
  font-weight: bold;
  color: #ffffff !important;
}

.hold-contain-bottom {
    position: relative;
    padding: 4rem 2rem 2rem;
    border-radius: 8px;
    margin-top: -50px;
    z-index: -1;
    min-height: 310px;
    background-color: #9851F0; /* Make sure background color is applied */
    border: 2px solid #ffffff; /* Ensure border is visible */
}

.hold-contain-bottom>h2 {
  font-size: 4.5rem;
  font-weight: 600;
  color: #ffffff !important;
  margin-bottom: .5rem;
  line-height: 4.5rem;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}

.hold-contain-bottom>.pphr {
  font-size: 25px !important;
  margin: 0;
  font-weight: 600;
  color: #ffffff !important;
}

.buy-contain-full {
    position: relative;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 30px;
}

.buy-contain-left {
    min-height: 180px;
    background-color: #ffffff;
    border-radius: 20px;
    z-index: 1;
    height: 100%;
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.invis {
    /* Removed display: none; to make elements visible */
    animation: .25s ease-out 0s 1 slideInFromTop;
}

.title {
    min-width: 112px;
}

h1 {
    font-size: 3.5rem;
    color: #ffffff;
    font-weight: bolder;
    margin-bottom: 15px;
}

p {
    color: #fff !important;
}

h4 {
    color: #ffffff;
    font-weight: bold;
}

.other-button-container {
    display: flex;
}

.info-badge {
    font-size: 10px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 4px;
    background-color: #18f3b7;
    padding: 2px 4px;
    margin-left: 5px;
    line-height: 1;
}

.free-shimp {
    margin: auto;
    position: absolute;
    top: 85px; left: 0; bottom: 0; right: 0;
    font-size: 16px;
}

.free-shimp:hover {
    color: #ffffff; /* Ensure hover color is visible */
}

.mw-250 {
    margin: 0 auto;
    max-width: 250px;
}

.btn-hatch {
    background-color: #23b574;
    color: #000;
    border: 1px solid #000;
    border-radius: 8px;
    width: 50%;
    margin-right: 10px;
    font-weight: 600;
    font-size: 22px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    transition: ease-in-out .4s;
}

.btn-hatch:focus, .btn-hatch:hover {
    box-shadow: 0 0 20px 5px rgba(232,252,255, 0.4);
}

.btn-sell {
    background-color: #23b574;
    color: #000;
    border: 1px solid #000;
    border-radius: 8px;
    width: 50%;
    font-weight: 600;
    font-size: 22px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    transition: ease-in-out .4s;
}

.btn-sell:focus, .btn-sell:hover {
    box-shadow: 0 0 20px 5px rgba(232,252,255, 0.4);
}

@media (max-width: 750px) {
    .other-button-container {
        flex-direction: column;
    }
    .btn-hatch, .btn-sell {
        margin: 0;
        width: 100%;
    }
    .btn-hatch {
        margin-bottom: 10px;
    }
}

.btn-buy {
    color: rgb(2, 2, 2);
    background-color: #23b574;
    border-radius: 8px;
    border-color: #000000;
    font-weight: 600;
    font-size: 22px !important;
    width: 100%;
    height: 60px;
    line-height: 40px;
    margin-bottom: 20px;
    margin-top: 5px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    transition: ease-in-out .4s;
}

.btn-buy:focus, .btn-buy:hover {
    opacity: 1;
    color: #fff;
    box-shadow: 0 0 20px 5px rgba(232,252,255, 0.4);
}

.spend-input-container {
    margin-bottom: 20px;
}

.spend-input {
    display: flex;
}

.spend-input2 {
    opacity: 1; /* Ensure spend-input2 is visible */
}

.spend-input input {
    line-height: 60px;
    height: 60px;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    background-color: #748392;
    border: 2px solid #000000;
    border-radius: 8px;
}

.spend-input>.bnb-text {
    color: #ffffff;
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 22px;
    position: relative;
    top: 15px;
    font-weight: bold;
}

.bnb-logo {
    margin: 45px auto;
}

.footer {
    padding-top: 0px;
    color: inherit;
    border-top: 1px solid transparent;
}

.lr-pad {
    padding: 0 25px;
}

@media (min-width: 992px) {
    .nopad-left {
        padding-left: 0px;
    }
    .nopad-right {
        padding-right: 0px;
    }
}

@media (max-width: 992px) {
    .nopad-lr {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 768px) {
    .hide-mobile {
        display: block; /* Change to block to ensure visibility on mobile */
    }
    .social-icons {
        margin-right: 0px !important;
    }
    .mobile-align {
        position: absolute;
        top: -10px;
        right: 15px;
    }
    .nav>li>a {
        padding: 10px 0 10px 10px;
    }
    .social-icons {
        height: auto;
        width: 22px !important;
    }
}

.social-pad {
    padding: 15px 0 10px 20px !important;
}

.welcome-text {
    color: #ffffff !important;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
}

.btn.active, .btn:active {
    background-image: none;
    box-shadow: none;
    outline: 0px;
}

.btn-default {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    border-color: transparent;
}

.btn-default:hover {
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
}

.btn-group > .nav-btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-right: 2px solid #ffffff;
}

.btn-group > .nav-btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-right: 2px solid #ffffff;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.dropdown-menu {
    position: absolute;
    font-weight: normal !important;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block; /* Ensure dropdown menu is visible */
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 10px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.social-icons {
    height: auto;
    width: 20px;
    float: left;
    margin-right
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #ffffff;
    cursor: default;
    background-color: rgb(10, 11, 9);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(10, 11, 9);
    border-bottom-color: rgb(10, 11, 9);
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 30px;
    border: 1px solid transparent;
    border-radius: 0;
}

.nav > li > a {
    position: relative;
    display: block;
    font-weight: bold;
    border-radius: 20px 20px 0 0 !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:focus,
.nav-tabs.nav-justified > .active > a:hover {
    border: 2px solid #ffffff;
}

.nav-tabs {
    border-bottom: 2px solid #ffffff;
}

.social-icons-contain {
    float: right;
}

@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 2px solid #ffffff;
        border-radius: 4px 4px 0 0;
    }
}

.nav-tabs > li {
    float: left;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 2px solid #ffffff;
        border-radius: 0;
    }
    .language {
        position: relative;
        top: 11px;
    }
}

a:focus,
a:hover {
    color: #ffffff;
    text-decoration: none;
}

.nav-tabs > li > a:hover {
    border-color: transparent;
}

.nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
}

.bg-purple {
    background-color: #9F7CAA !important;
}

.border-purple {
    border-color: #ffffff !important;
}

.text-purple {
    color: #ffffff !important;
}

.bg-teal {
    background-color: #ffffff !important;
}

.border-teal {
    border-color: #ffffff !important;
}

.text-teal {
    color: #ffffff !important;
}

.input-outline-purple {
    border: 2px solid #ffffff !important;
}

.modal-header .close {
    margin-top: 3px;
    margin-right: 6px;
}

.table {
    margin-bottom: 0;
}

.sm-padding-left {
    padding-left: 15px !important;
}

.pad-15 {
    padding: 8px 15px !important;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: #ffffff;
}

tr {
    color: #ffffff;
}

.modal-content {
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.table > thead > tr > th {
    border-bottom: none;
}

.close {
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    opacity: .5;
}
